# Ignora todos los archivos generados por LaTeX excepto main.tex
*

# Permitir directorios (necesario para que los archivos internos permitidos sean vistos)
!*/

# Archivos fuente LaTeX
!*.tex
!*.bib
!*.sty
!*.cls
!*.bst

# Documentos útiles
!*.pdf
!*.txt

# Imágenes
!*.png
!*.jpg
!*.jpeg
!*.gif
!*.svg
!*.eps

# Archivos de configuración
!.gitignore
!Makefile
!.latexmkrc

# Archivos de codigo
!*.java
!*.ts

main.pdf
